html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  color: white;
  background-color: #040714;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
